/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #4f190d;
}

/* Custom settings */

.main-color {
  background: #000000;;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #ac2615;
}

p.brand-border {
  background-image: linear-gradient(to right, #DB9B3A, #AC2615);
  min-height: 0!important;
  padding: .4rem 0!important;
  margin: 0;
}

.brand-color {
  background: #DB9B3A!important;
  color: #DB9B3A!important;
  background-color: #DB9B3A!important;
}

.img-constraint {
  height: 200px;
  max-width: 300px;
}

.brand-border-simple {
  background-image: linear-gradient(to right, #68291b, #68291b);
  min-height: 0!important;
  padding: 3rem 0!important;
  color: #ffffff;
  font-size: 200%;
  padding-left: 2rem!important;
}

.special-h1 {
  font-size: larger;
}

a.nav-link:hover {
  color: #68291b!important;
}
a.nav-link:active {
  color: #68291b!important;
}
a.nav-link:focus {
  color: #68291b!important;
}
a.active {
  color: #68291b!important;
}

.carousel-caption {
  top: 9rem!important;
  bottom: auto;
}

.schedule {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  color: white;
  margin-right: 10%;
  margin-left: 10%;
}

.schedule-image {
  background: url(../img/schedule-img.jpg);
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
}

.centred-window {

}


/*============= TOP BAR HEADER =============*/

.top-bar {
  background: #68291b;
  height: 2.8rem;
  padding: .5rem 0;
}

.top-bar a {
  color: white;
  text-decoration: none;
}

/*============= NAVIGATION =============*/

.navbar-brand {
  height: 3rem;
  font-size: larger;
  color: #4f190d!important;
}

.brand-font {
  color: #4f190d!important;
}

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-item {
  padding: .5rem;
}

.nav-link {
  color: #5b5555!important;
}

.nav-link.active,
.nav-link:hover {
  color: #68291b!important;
}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.carousel-inner {

}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.3s ease;
}

/*-- Carousel Content --*/

.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 3rem;
  color: #eee;
  padding: 0 0.9em;
  line-height:1em;
  width: auto;
}

.orange-window {
  background-color: rgba(217, 111, 34, 0.67);
  border-radius: 3rem;
  padding: 0 0.9em;
  line-height:1em;
  width: auto;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.orange-bg {
  background: url(../img/second-image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #cccccc;
  background-position: center;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.border-primary {
  border-top: .2rem solid #4981b3!important;
}

.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: .2rem;
}

.btn-danger {
  background-color: #ac2615;
  border: .05rem solid #ac2615;
}

.btn-primary {
  background-color: #4981b3;
  border: .05rem solid #4981b3;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #68a0d2!important;
  border: .05rem solid #68a0d2!important;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed {
  background-image: url('../img/matrix.jpg');
  position: fixed;
}

.fixed-background {
  padding: 10rem 0;
  overflow: hidden; /*-- Correction for iOS --*/
}


/*-- Emoji Navbar --*/

.emoji {
  background-image: linear-gradient(to right, #4981b3, #ac2615);
  min-height: 0!important;
  padding: .4rem 0!important;
}

.emoji .svg-inline--fa {
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}




/*============= FOOTER =============*/

footer {
  background-color: #561818;
  /* padding: 1rem 2rem 3rem; */
}

footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}

footer p, footer a, .socket a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
}

footer .svg-inline--fa {
  font-size: 2.3rem;
}

footer .svg-inline--fa:hover {
  color: #68a0d2;
}

/*============= SOCKET =============*/

.socket {
  background-color: #222;
  border-top: .1rem solid #4981b3;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

  .carousel-caption h1 {
    font-size: 2.8rem;
  }
  
  .carousel-caption h3 {
    font-size: 1.8rem;
  }

}
/* Devices under 768px (md) */
@media (max-width: 991.98px) {

  
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  
  .carousel-caption h3 {
    font-size: 1.5rem;
  }
  
  .btn-lg {
    font-size: .95rem;
  }

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}